set chassis high-availability services-redundancy-group 1 deployment-type {{ deployment_type }}
{% if probe_dst %}set chassis high-availability services-redundancy-group 1 activeness-probe dest-ip {{ probe_dst }} src-ip {{ probe_src }}
{% endif %}
set chassis high-availability services-redundancy-group 1 activeness-priority {{ activeness_priority }}
{% if bgp_enabled %}
set chassis high-availability services-redundancy-group 1 active-signal-route {{ active_signal_route }}
set chassis high-availability services-redundancy-group 1 backup-signal-route {{ backup_signal_route }}
{% endif %}
{% for v in vips %}
set chassis high-availability services-redundancy-group 1 virtual-ip {{ v.id }} ip {{ v.ip }}
set chassis high-availability services-redundancy-group 1 virtual-ip {{ v.id }} interface {{ v.ifl }}
{% endfor %}
{% if monitor_interfaces %}
{% if config_model == "flat" %}
{% for i in monitor_interfaces %}set chassis high-availability services-redundancy-group 1 monitor interface {{ i }}
{% endfor %}
{% else %}
{% for i in monitor_interfaces %}set chassis high-availability services-redundancy-group 1 monitor monitor-object UPLINKS interface interface-name {{ i }} weight 100
{% endfor %}
set chassis high-availability services-redundancy-group 1 monitor monitor-object UPLINKS interface threshold 100
set chassis high-availability services-redundancy-group 1 monitor monitor-object UPLINKS object-threshold 100
set chassis high-availability services-redundancy-group 1 monitor srg-threshold 100
{% endif %}
{% endif %}
{% if preemption %}set chassis high-availability services-redundancy-group 1 preemption
{% endif %}
